In [2]:
#'https://towardsdatascience.com/how-to-get-market-data-from-the-nyse-in-less-than-3-lines-python-41791212709c'

!pip3 install pandas-datareader
!pip3 install DateTime

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 4.9 MB/s eta 0:00:01
Requirement already satisfied: requests>=2.19.0 in /opt/conda/lib/python3.9/site-packages (from pandas-datareader) (2.26.0)
Requirement already satisfied: pandas>=0.23 in /opt/conda/lib/python3.9/site-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in /opt/conda/lib/python3.9/site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2019.11.28)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.7)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.0)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2.8)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Collecting DateTime
  Downloading DateTime-4.5-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 294 kB/s eta 0:00:011
Requirement already satisfied: pytz in /opt/conda/lib/python3.9/site-packages (from DateTime) (2021.1)
Collecting zope.interface
  Using cached zope.interface-5.4.0-cp39-cp39-manylinux2010_x86_64.whl (255 kB)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.9/site-packages (from zope.interface->DateTime) (58.2.0)
Installing collected packages: zope.interface, DateTime
Successfully installed DateTime-4.5 zope.interface-5.4.0

In [3]:
import pandas as pd
from pandas_datareader import data, wb
import datetime

start = pd.to_datetime('2022-07-04')
end = pd.to_datetime('today')

tesla_df = data.DataReader('TSLA', 'yahoo', start , end)
tesla_df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-07-05,699.440002,648.500000,669.000000,699.200012,28193700,699.200012
2022-07-06,703.690002,681.559998,692.340027,695.200012,23951200,695.200012
2022-07-07,736.090027,696.630005,701.760010,733.630005,27310200,733.630005
2022-07-08,764.940002,723.479980,727.000000,752.289978,33343700,752.289978
2022-07-11,759.190002,700.880005,756.309998,703.030029,33080400,703.030029
2022-07-12,719.320007,685.109985,710.539978,699.210022,29310300,699.210022
2022-07-13,726.179993,675.099976,676.500000,711.119995,32651500,711.119995
2022-07-14,715.960022,688.000000,704.690002,714.940002,26069500,714.940002
2022-07-15,730.869873,715.960022,704.690002,718.094971,5079726,718.094971